.container.tables-container
    -
        const table = {
            mod: 'new',
            header: [
                {
                    name: 'Новые',
                    count: '( 12 )',
                    add: true
                }
            ],
            rows: [
                {
                    cardtype: 'appeal',
                    mod: 'draft',
                    columns: [
                        {
                            tag: 'Черновик',
                        },     
                        {
                            draftTxt: 'Новое обращение'
                        },           
                    ]
                },
                {
                    cardtype: 'appeal',
                    join: true,
                    mod: 'bind',
                    columns: [
                        {
                            num: '#22',
                            tag: 'Течь на земле',
                            tagMod: 'blue',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Пушкина, 12',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Вишневский Семён, Владимирович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        },                     
                        {
                            bind: true
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#21',
                            tag: 'Излив на рельефа',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Морская, 24',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Володин Кирилл Дмитриевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Юридическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        },
                        {
                            join: true
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#20',
                            tag: 'Повреждение асфальта',
                            tagMod: 'purple',
                            type: 'Мессенджер',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Акимов Алексей Николаевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        },
                        {
                            join: true
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#19',
                            tag: 'Подключение / Отключение',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Некрасова, 19',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Александров Даниил Олегович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        },
                        {
                            join: true
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#18',
                            tag: 'Вызов представителя',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Бошаров Борис Валерьевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        },
                        {
                            join: true
                        }
                    ]
                }
            ],
        }
    +table(table)

    -
        const table2 = {
            mod: 'in-progress',
            header: [
                {
                    name: 'В работе',
                    count: '( 6 )',
                    add: false
                }
            ],
            groups: [
                {
                    title: 'Заявка #73',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                },
                                {
                                    join: true
                                }
                            ]
                        },
                        {   
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #72',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #71',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #70',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
            ]
        }
    +table(table2)

    -
        const table3 = {
            mod: 'done',
            header: [
                {
                    name: 'Выполнены',
                    count: '( 18 )',       
                }
            ],
            rows: [
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#22',
                            tag: 'Течь на земле',
                            tagMod: 'blue',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Пушкина, 12',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Вишневский Семён, Владимирович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#21',
                            tag: 'Излив на рельефа',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Морская, 24',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Володин Кирилл Дмитриевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Юридическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#20',
                            tag: 'Повреждение асфальта',
                            tagMod: 'purple',
                            type: 'Мессенджер',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Акимов Алексей Николаевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#19',
                            tag: 'Подключение / Отключение',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Некрасова, 19',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Александров Даниил Олегович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#18',
                            tag: 'Вызов представителя',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Бошаров Борис Валерьевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                }
            ],
        }
    +table(table3)

    -
        const table4 = {
            mod: 'cancel',
            header: [
                {
                    name: 'Отменены',
                    count: '( 0 )',                
                }
            ]
        }
    +table(table4)

    -
        const table5 = {
            mod: 'in-progress',
            header: [
                {
                    name: 'В работе',
                    count: '( 6 )',     
                    add: false
                }
            ],
            groups: [
                {
                    title: 'Заявка #73',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #72',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #71',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
                {
                    title: 'Заявка #70',
                    mod: 'hidden',
                    rows: [
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#22',
                                    tag: 'Течь на земле',
                                    tagMod: 'blue',
                                    type: 'Звонок',
                                },
                                {
                                    street: 'Улица Пушкина, 12',
                                    city: 'Геленджик',
                                },
                                {
                                    fio: 'Вишневский Семён, Владимирович',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Физическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                        {
                            cardtype: 'appeal',
                            columns: [
                                {
                                    num: '#21',
                                    tag: 'Излив на рельефа',
                                    tagMod: 'green',
                                    type: 'Сайт',
                                },
                                {
                                    street: 'Улица Морская, 24',
                                    city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                                },
                                {
                                    fio: 'Володин Кирилл Дмитриевич',
                                    tel: '+7 (999) 123-45-67',
                                    businessType: 'Юридическое лицо',
                                },
                                {
                                    intercom: 'Домофон не работает'
                                }
                            ]
                        },
                    ],
                },
            ]
            }
    +table(table5)

    -
        const table6 = {
            mod: 'done',
            header: [
                {
                    name: 'Выполнены',
                    count: '( 18 )',     
                }
            ],
            rows: [
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#22',
                            tag: 'Течь на земле',
                            tagMod: 'blue',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Пушкина, 12',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Вишневский Семён, Владимирович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#21',
                            tag: 'Излив на рельефа',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Морская, 24',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Володин Кирилл Дмитриевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Юридическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#20',
                            tag: 'Повреждение асфальта',
                            tagMod: 'purple',
                            type: 'Мессенджер',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Геленджик',
                        },
                        {
                            fio: 'Акимов Алексей Николаевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#19',
                            tag: 'Подключение / Отключение',
                            tagMod: 'green',
                            type: 'Сайт',
                        },
                        {
                            street: 'Улица Некрасова, 19',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Александров Даниил Олегович',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                },
                {
                    cardtype: 'appeal',
                    columns: [
                        {
                            num: '#18',
                            tag: 'Вызов представителя',
                            type: 'Звонок',
                        },
                        {
                            street: 'Улица Героев, 1',
                            city: 'Микрорайон Магилат, Геленджик, Краснодарский край',
                        },
                        {
                            fio: 'Бошаров Борис Валерьевич',
                            tel: '+7 (999) 123-45-67',
                            businessType: 'Физическое лицо',
                        },
                        {
                            intercom: 'Домофон не работает'
                        }
                    ]
                }
            ],
            }
    +table(table6)