.custom-checkbox {
  max-height: 22px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-checkbox */
  span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $grey-light;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  /* стили при наведении курсора на чекбокс */
  input:not(:disabled):not(:checked) + span:hover::before {
    border-color: $blue-light;
  }
  /* стили для активной чекбокса (при нажатии на неё) */
  input:not(:disabled):active + span::before {
    // background-color: $grey-light;
  }
  /* стили для чекбокса, находящейся в фокусе */
  input:focus + span::before {
    box-shadow: -24px 0px 96px 0px rgba(105, 132, 230, 0.16);
  }
  /* стили для чекбокса, находящейся в фокусе и не находящейся в состоянии checked */
  input:focus:not(:checked) + span::before {
    // border-color: #80bdff;
    // background-image: none;
  }
  /* стили для чекбокса, находящейся в состоянии checked */
  input:checked + span::before {
    background-image: url('../img/icons/check.svg');
    border-color: $blue-light;
    background-color: $white;
  }
  /* стили для чекбокса, находящейся в состоянии disabled */
  input:disabled + span::before {
    opacity: 0.5;
  }

  &--green {
    input:checked + span::before {
      background-image: url('../img/icons/check-green.svg');
      border-color: $green;
    }

    input:not(:disabled):not(:checked) + span:hover::before {
      border-color: $green;
    }
  }
}
