mixin tooltip-executor()
  +tooltip({mode: 'list', title: 'Назначить исполнителя'}).tooltip-executor
    .tooltip__main
      .tooltip-executor__list
        .tooltip-executor__item.tooltip__list-el ЦТВ
        .tooltip-executor__item.tooltip__list-el ЦТС
        .tooltip-executor__item.tooltip__list-el ЦВКХ
        .tooltip-executor__item.tooltip__list-el Дизайнерский цех
          