.container.container--for-map
  #yandex-map
    .map-filter
      button.map-filter__all.is-active Все
      button.map-filter__request
        svg
          use(xlink:href='img/sprite.svg#callcalling')
      button.map-filter__application
        svg
          use(xlink:href='img/sprite.svg#applications')

    
    