-
 const data = [
  {
  id: '#72',
  street: 'улица Одесская, 2',
  time: '15 мин назад'
 },
 {
  id: '#71',
  street: 'улица Курильская, 3',
  time: '30 мин назад'
 },
 {
  id: '#70',
  street: 'улица Володина, 5',
  time: '1 час назад'
 },
 {
  id: '#69',
  street: 'улица Искровая, 14',
  time: 'Сегодня, 11:45'
 },
 {
  id: '#68',
  street: 'улица ул. Депо, 14',
  time: 'Вчера, 19:43'
 },
 {
  id: '#67',
  street: 'улица ул. Морская, 18',
  time: '15 марта, 20:31'
 }
 ]

mixin button-bind()
  .button-bind(data-open-tooltip='tooltip-bind')
    span.button-bind__txt Связать
    +tooltip-bind()
    //- .button-bind__tooltip
    //-   +search('| Выберите заявку или найдите по адресу / номеру')
    //-   .button-bind__tooltip__list
    //-     each el in data
    //-       .button-bind__tooltip__item
    //-         span.button-bind__tooltip__item--tag=el.id
    //-         span.button-bind__tooltip__item--street=el.street
    //-         span.button-bind__tooltip__item--time=el.time